In [2]:
import pandas as pd
import numpy as np
import sqlalchemy as db
import os

Connection to MySQL

In [8]:
conn = pd.read_json('connection.json', typ='series')
host = conn['host']
user = conn['user']
password = conn['password']
port = conn['port']

db_name = input('DB Name: ')
engine = db.create_engine('mysql+pymysql://' + user + ':' + password + '@' + host + ':' + port + '/' + db_name)

DB Name: PALB777

Fine Query

In [ ]:
limit = 100_000
offset = 0
plane = 'rp7779'
year = 2022
df = []

while True:
    try:
        data = pd.read_sql(f"SELECT * FROM `{plane}-{year}` LIMIT {limit} OFFSET {offset}", engine)
        planeIDs = list(data['ID'].unique())
        dates = list(data['Date'].unique())
        minIndex = min(data['index'])
        maxIndex = max(data['index'])
        rm = list(data['RM'].unique())
        acft = list(data['Plane'].unique())
        data.to_parquet(f"{db_name}/{plane}-{year}/{offset}_{offset + limit}.parquet")
        print(f"ID: {planeIDs}, Dates: {dates}, IndexRange: ({minIndex, maxIndex})")
        print(f"Aircraft Included: {acft}, Registration Marking: {rm}")
        print(f"Index Counter: {offset} - {offset + limit}")
        print("-------------------------------------------------------------------")
        offset += limit
    except Exception as e:
        print(f"AN ERROR OCCURED: {e}")
        break

Read, Commpile, Save

In [45]:
directory = input('Directory: ')
filename_interval = int(input('Interval: '))

filenames = os.listdir(directory)
list_filenames = []
for filename in filenames:
    n1, n2 = filename.split('_')
    list_filenames.append(int(n1))
list_filenames = np.sort(list_filenames)

df = pd.DataFrame()
for each in list_filenames:
    data = pd.read_parquet(f'{directory}\\{each}_{each+filename_interval}.parquet')
    df = pd.concat([df, data])
    print(each)

Directory: C:\Users\Kyle Carlo C. Lasala\Desktop\PAL\repo\Predicting-Fuel-Consumption\PALB777\rp7777-2022\

In [ ]:
save_dir = input('Saving Directory: ')
save_name = input('Filename: ')
df.to_parquet(f"{save_dir}\\{save_name}.parquet")

Load

In [3]:
directory = input('Directory: ')
filename = input('Filename: ')
df = pd.read_parquet(f"{directory}/{filename}.parquet")

Directory: C:\Users\Kyle Carlo C. Lasala\Desktop\PAL\repo\Predicting-Fuel-Consumption\PALB777\compiled\
Filename: rp7777-2022

Fuel Saving Technique Detection

In [199]:
class B777:
    # INITIAL CHECK
    def check(data):
        # check phases
        phases = data['FLTPHASE'].unique()
        if ("ENGINE START" not in phases or  
            "TAXI OUT" not in phases or
            "DESCENT" not in phases or 
            "ROLL OUT" not in phases or
            "TAXI IN" not in phases):
            return False
        # check ID
        if data['ID'].nunique() != 1:
            return False
        # check columns
        col = data.columns
        if ("aLDGDWN" not in col):
            return False
        return True
    # CLEAN 
    def clean(data):
        data.index = data['index']
        data = data.drop('index',axis=1)
        # clean phases
        phases = ['ENGINE START', 'TAXI OUT', 'TAKEOFF ROLL', 'INITIAL CLMB', 'CLIMB', 'CRUISE', 'DESCENT',
                  'APPROACH', 'FLARE', 'ROLL OUT', 'TAXI IN', 'SHUTDOWN', 'POWER ON']
        # get indices of anomalous phases
        x_phases = []
        for each in data['FLTPHASE'].unique():
            if each not in phases:
                x_phases.append(each)
        print("X PHASES:", x_phases)
        x_indices = {}
        for each in x_phases:
            x_indices[each] = data[data['FLTPHASE'] == each].index
        # change the anomalous phases based on previous phase
        for each1 in x_indices:
            for each2 in x_indices[each1]:
                i = 0
                # loop back until clean phase is seen
                while ((each2 - i) != -1) and (data.loc[each2-i,'FLTPHASE'] in x_phases):
                    i+=1
                inferred_index = each2 - i
                if inferred_index != -1:
                    data.loc[each2, 'FLTPHASE'] = data.loc[inferred_index, 'FLTPHASE']
                # if reached the starting end, then loop forward until clean phase is seen
                else: 
                    i = 0
                    while((each2 + i) != len(data)) and (data.loc[each2+i, 'FLTPHASE'] in x_phases):
                        i+=1
                    inferred_index = each2 + i
                    data.loc[each2, 'FLTPHASE'] = data.loc[inferred_index, 'FLTPHASE']
        # phase sanity check
        if not all([True if each in phases else False for each in data['FLTPHASE'].unique()]):
            return False, 1, data
        # clean null
        data = data.ffill().bfill()    
        data = data.dropna(axis=1)
        # change the anomalous altitude (e.g. negative altitude)
        try:
            new_alt = []
            for each in data['aALTSTD1']:
                new_alt.append(0 if each < 0 else each)
            data['aALTSTD1'] = new_alt
        except:
            return False, 2, data
        # negative altitude sanity check
        if not ((data['aALTSTD1'] >= 0).all()):
            return False, 2, data
        # null sanity check
        if not data.notna().all().all():
            return False, 3, data
        # column count
        if not len(data.columns) != 67:
            return False, 4, data
        return True, 0, data
    
    def SETO(data):
        data = data[(data['FLTPHASE'] == 'TAXI OUT') | (data['FLTPHASE'] == 'ENGINE START')]
        data = data[['FLTPHASE','aLDGDWN','aFF1', 'aFF2']]
        init_TO = 0
        TO_detected = False
        init_E2 = 0
        E2_detected = False
        dnlck = True
        SETO = []
        for each in data.iloc:
            # detect downlock
            if each['aLDGDWN'] != 'DN & LCK':
                dnlck = False
            # detect start of Taxi-out
            if each['FLTPHASE'] == 'TAXI OUT' and not TO_detected:
                init_TO = each.name
                TO_detected = True
            # detect start of engine 2
            if each['aFF1'] > 0 and each['aFF2'] > 0 and not E2_detected:
                init_E2 = each.name
                E2_detected = True

            if (init_E2 - init_TO < 120 # if second engine delayed less than 120 seconds
                    and
                dnlck == True): # if still downlock
                SETO.append(1)
            else:
                SETO.append(0)
        SETO = pd.DataFrame({"SETO":SETO})
        SETO.index = data.index
        return SETO

    def SETI(data):
        data = data[(data['FLTPHASE'] == 'TAXI IN') | (data['FLTPHASE'] == 'SHUTDOWN')]
        SETI = []
        for each in data.iloc:
            # detect downlock and detech single engine use
            if each['aLDGDWN'] == 'DN & LCK' and (each['aFF1'] == 0 or each['aFF2'] == 0):
                SETI.append(1)
            else:
                SETI.append(0)
        SETI = pd.DataFrame({"SETI":SETI})
        SETI.index = data.index
        return SETI

In [202]:
d1 = df[df['ID']==458]
test = B777.check(d1)
isError, id_error, d1 = B777.clean(d1)
isError

X PHASES: ['**** 0 ****']

True

In [201]:
for each in df['ID'].unique():
    data = df[df['ID'] == each]
    data = data.reset_index().drop('index', axis=1)
    data = data[(data['FLTPHASE'] == 'TAXI OUT') | (data['FLTPHASE'] == 'ENGINE START')]
    try:
        print(f"ID: {each}", min(data[(data['aFF1'] > 0) & data['aFF2'] > 0].index))
    except:
        print("**ERROR**", each)

ID: 31 65
ID: 42 39
ID: 49 39
ID: 56 42
ID: 63 40
ID: 64 41
ID: 68 42
ID: 77 42
ID: 211 36
ID: 219 41
ID: 226 42
ID: 233 46
ID: 237 46
ID: 245 38
ID: 253 36
ID: 255 42
ID: 259 44
ID: 268 42
ID: 338 44
ID: 345 42
ID: 355 42
ID: 362 42
ID: 363 40
ID: 371 36
ID: 433 38
ID: 434 38
ID: 436 46
ID: 442 41
ID: 450 37
ID: 451 38
ID: 458 38
ID: 466 40
ID: 561 46
ID: 569 44
ID: 576 41
ID: 582 39
ID: 587 40
ID: 596 43
ID: 603 45
ID: 616 45
ID: 629 39
ID: 630 39
ID: 635 39
ID: 644 44
ID: 647 40
ID: 655 42
ID: 669 42
ID: 677 37
ID: 679 43
ID: 687 42
ID: 702 49
ID: 703 39
ID: 707 40
ID: 716 43
ID: 728 44
ID: 738 37
ID: 739 41
ID: 742 45
ID: 747 44
ID: 751 40
ID: 756 38
ID: 766 44
ID: 778 39
ID: 779 38
ID: 786 40
ID: 794 40
ID: 815 40
ID: 825 40
ID: 837 56
ID: 848 38
ID: 856 43
ID: 865 41
ID: 873 44
ID: 880 41
ID: 885 45
ID: 886 50
ID: 893 52
ID: 903 42
ID: 911 36
ID: 912 39
ID: 915 39
ID: 926 35
ID: 931 47
ID: 938 36
ID: 952 51
ID: 953 40
ID: 957 40
ID: 964 40
**ERROR** 1135
ID: 1203 45
ID: 1205 45
ID: 1213 39
ID: 1221 41
ID: 1228 37
ID: 1229 43
ID: 1235 41
ID: 1291 44
**ERROR** 1301
ID: 1303 37
ID: 1316 44
ID: 1317 39
ID: 1324 42
ID: 1333 88
ID: 1344 42
ID: 1358 39
ID: 1367 42
ID: 1368 46
ID: 1374 42
ID: 1386 39
**ERROR** 1387
ID: 1401 40
ID: 1404 49
ID: 1405 39
ID: 1413 42
ID: 1418 46
ID: 1419 40
ID: 1423 49
ID: 1434 36
ID: 1442 40
ID: 1444 39
ID: 1452 44
ID: 1465 40
ID: 1490 41
ID: 1503 37
ID: 1504 43
ID: 1509 43
ID: 1517 40
ID: 1525 38
ID: 1531 40
ID: 1537 38
ID: 1541 40
ID: 1548 38
ID: 1549 51
ID: 1556 40
ID: 1557 40
ID: 1560 48
ID: 1563 42
ID: 1573 43
ID: 1579 41
ID: 1588 50
ID: 1592 39
ID: 1602 43
ID: 1618 42
ID: 1619 41
ID: 1640 50
ID: 1652 39
ID: 1664 39
ID: 1676 38
ID: 1690 43
ID: 1691 38
ID: 1696 44
ID: 1710 41
ID: 1722 39
ID: 1723 49
ID: 1729 52
ID: 1743 38
ID: 1757 45
ID: 1758 38
ID: 1764 50
ID: 1777 37
ID: 1790 45
ID: 1791 40
ID: 1795 41
ID: 1808 48
ID: 1824 40
ID: 1825 39
ID: 1831 42
ID: 1841 48
ID: 1850 42
ID: 1862 43
ID: 1870 43
ID: 1880 46
ID: 1884 41
ID: 1895 39
ID: 1901 40
ID: 1902 49
ID: 1908 47
ID: 1914 41
ID: 1923 54
ID: 1931 38
ID: 1934 46
ID: 1947 45
ID: 1948 47
ID: 1958 41
ID: 1959 37
ID: 1972 48
ID: 1985 39
ID: 1992 47
ID: 1993 44
ID: 2001 50
ID: 2011 47
ID: 2027 43
ID: 2041 42
ID: 2042 40
ID: 2054 46
ID: 2065 38
ID: 2072 42
ID: 2073 46
ID: 2155 39
ID: 2156 39
ID: 2184 41
ID: 2185 38
ID: 2188 45
ID: 2195 38
ID: 2208 41
ID: 2209 36
ID: 2213 54
ID: 2221 36
ID: 2234 41
ID: 2235 36
ID: 2236 45
ID: 2247 36
ID: 2256 46
ID: 2257 38
ID: 2260 41
ID: 2261 0
ID: 2270 42
ID: 2279 41
ID: 2287 39
ID: 2298 42
ID: 2308 39
ID: 2310 39
ID: 2316 42
ID: 2318 40
ID: 2326 40
ID: 2330 41
ID: 2331 42
ID: 2336 37
ID: 2347 40
ID: 2358 40
ID: 2368 43
ID: 2375 44
ID: 2385 36
ID: 2396 38
ID: 2397 38
ID: 2402 41
ID: 2414 39
ID: 2423 42
ID: 2433 40
ID: 2445 41
ID: 2446 45
ID: 2450 40
ID: 2456 42
ID: 2478 42
ID: 2488 40
ID: 2500 44
ID: 2501 41
ID: 2504 40
ID: 2514 43
ID: 2532 39
ID: 2542 44
ID: 2544 37
ID: 2554 48
ID: 2556 40
ID: 2566 38
ID: 2574 45
ID: 2581 39
ID: 2586 41
ID: 2592 137
ID: 2594 43
ID: 2600 39
ID: 2608 42
ID: 2609 38
ID: 2610 37
ID: 2615 40
ID: 2624 41
ID: 2625 38
ID: 2628 41
ID: 2635 38
ID: 2642 43
ID: 2646 47
ID: 2651 40
ID: 2659 37
ID: 2668 42
ID: 2669 40
ID: 2673 51
ID: 2682 40
ID: 2696 52
ID: 2697 39
ID: 2709 38
ID: 2710 41
ID: 2715 45
ID: 2725 37
ID: 2737 37
ID: 2738 0
ID: 2746 38
ID: 2752 44
ID: 2753 37
ID: 2759 44
ID: 2771 37
ID: 2781 40
ID: 2792 39
ID: 2803 43
ID: 2805 38
ID: 2806 39
ID: 2815 38
ID: 2829 45
ID: 2830 41
ID: 2833 42
ID: 2842 38
ID: 2849 42
ID: 2859 37
ID: 2860 36
ID: 2863 41
ID: 2874 40
ID: 2875 37
ID: 2888 40
ID: 2897 42
ID: 2904 40
ID: 2905 36
ID: 2912 43
ID: 2924 40
ID: 2936 40
ID: 2947 39
ID: 2952 46
ID: 2962 36
ID: 2963 38
ID: 2967 39
ID: 2981 40
ID: 2993 40
ID: 3004 41
ID: 3018 39
ID: 3023 39
ID: 3024 40
ID: 3035 45
ID: 3037 40
ID: 3045 43
ID: 3049 38
ID: 3062 37
ID: 3063 38
ID: 3082 40
ID: 3096 35
ID: 3097 36
ID: 3116 38
ID: 3117 41
ID: 3127 45

In [15]:
d1

,Frame-Sf,SfCount,Time,aGMTHMS,FLTPHASE,aLATPOS2,aLONPOS2,aALTSTD1,aHEADINGM1,aPITCH,...,N12CMD,aAIRGND,CNTRDEN,LMDEFQPU,RMDEFQPU,LMFUFQPU,ID,Date,Plane,RM
index,,,,,,,,,,,,,,,,,,,,,
0,74535-1,298140,14:07:28,14 728,ENGINE START,14.508557,120.999931,169,135.79,-0.18,...,21.16,GROUND,0.77,0.78,0.78,28.0,458,2022-03-11,PAL104,RP7777
1,74535-2,298141,14:07:29,14 729,ENGINE START,14.508557,120.999977,169,135.79,-0.18,...,21.16,GROUND,0.77,0.78,0.78,28.0,458,2022-03-11,PAL104,RP7777
2,74535-3,298142,14:07:30,14 730,ENGINE START,14.508557,121.000061,169,135.79,-0.18,...,21.16,GROUND,0.77,0.78,0.78,28.0,458,2022-03-11,PAL104,RP7777
3,74535-4,298143,14:07:31,14 731,ENGINE START,14.508557,121.000107,169,135.70,-0.18,...,21.41,GROUND,0.77,0.78,0.78,28.0,458,2022-03-11,PAL104,RP7777
4,74536-1,298144,14:07:32,14 732,ENGINE START,14.508557,121.000107,169,135.70,-0.18,...,21.41,GROUND,0.77,0.78,0.78,28.0,458,2022-03-11,PAL104,RP7777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41947,85021-4,340087,01:49:44,14944,TAXI IN,37.608898,-122.373009,-309,-75.85,0.04,...,21.00,GROUND,0.81,0.82,0.81,-13.0,458,2022-03-11,PAL104,RP7777
41948,85022-1,340088,01:49:45,14945,TAXI IN,37.608898,-122.373009,-309,-75.76,0.04,...,21.00,GROUND,0.81,0.82,0.81,-13.0,458,2022-03-11,PAL104,RP7777
41949,85022-2,340089,01:49:46,14946,TAXI IN,37.608898,-122.373009,-309,-75.85,0.04,...,21.03,GROUND,0.81,0.82,0.81,-13.0,458,2022-03-11,PAL104,RP7777
41950,85022-3,340090,01:49:47,14947,TAXI IN,37.608898,-122.373054,-309,-75.85,0.04,...,21.03,GROUND,0.81,0.82,0.81,-13.0,458,2022-03-11,PAL104,RP7777
41951,85022-4,340091,01:49:48,14948,TAXI IN,37.608856,-122.373100,-309,-75.76,0.04,...,18.84,GROUND,0.81,0.82,0.81,-13.0,458,2022-03-11,PAL104,RP7777

In [203]:
def SETO(data):
    data = data[(data['FLTPHASE'] == 'TAXI OUT') | (data['FLTPHASE'] == 'ENGINE START')]
    data = data[['FLTPHASE','aLDGDWN','aFF1', 'aFF2']]
    init_TO = 0
    TO_detected = False
    init_E2 = 0
    E2_detected = False
    dnlck = True
    SETO = []
    for each in data.iloc:
        # detect downlock
        if each['aLDGDWN'] != 'DN & LCK':
            dnlck = False
        # detect start of Taxi-out
        if each['FLTPHASE'] == 'TAXI OUT' and not TO_detected:
            init_TO = each.name
            TO_detected = True
        # detect start of engine 2
        if each['aFF1'] > 0 and each['aFF2'] > 0 and not E2_detected:
            init_E2 = each.name
            E2_detected = True

        if (init_E2 - init_TO < 120 # if second engine delayed less than 120 seconds
                and
            dnlck == True): # if still downlock
            SETO.append(1)
        else:
            SETO.append(0)
    SETO = pd.DataFrame({"SETO":SETO})
    SETO.index = data.index
    return SETO

def SETI(data):
    data = data[(data['FLTPHASE'] == 'TAXI IN') | (data['FLTPHASE'] == 'SHUTDOWN')]
    SETI = []
    for each in data.iloc:
        # detect downlock and detech single engine use
        if each['aLDGDWN'] == 'DN & LCK' and (each['aFF1'] == 0 or each['aFF2'] == 0):
            SETI.append(1)
        else:
            SETI.append(0)
    SETI = pd.DataFrame({"SETI":SETI})
    SETI.index = data.index
    return SETI

In [211]:
d1.columns

Index(['Frame-Sf', 'SfCount', 'Time', 'aGMTHMS', 'FLTPHASE', 'aLATPOS2',
       'aLONPOS2', 'aALTSTD1', 'aHEADINGM1', 'aPITCH', 'aPITCH.1', 'aPITCH.2',
       'aPITCH.3', 'aPITCH.4', 'aROLL', 'aROLL.1', 'aAOAL1', 'aAOAL1.1',
       'aAOAL1.2', 'aAOAL1.3', 'aAOAR1', 'aAOAR1.1', 'aAOAR1.2', 'aAOAR1.3',
       'aCAS', 'aMACH', 'aMACH.1', 'aGS2', 'aGW', 'aN11', 'aN12', 'aFF1',
       'aFF2', 'aTHRANG1', 'aTHRANG1.1', 'aTHRANG2', 'aTHRANG2.1', 'aN21',
       'aN22', 'aTHREVD1', 'aTHREVD2', 'APU_ON', 'aTFQ', 'aFLAP', 'aFLAP1',
       'aFLAP2', 'aSLATSL', 'aSLATSR', 'aLDGDWN', 'aWNDDIR', 'aWNDSPD',
       'aAPENG', 'aATSENGA', 'aMACHIAS', 'aMACHSEL', 'N11CMD', 'N12CMD',
       'aAIRGND', 'CNTRDEN', 'LMDEFQPU', 'RMDEFQPU', 'LMFUFQPU', 'ID', 'Date',
       'Plane', 'RM'],
      dtype='object')

In [ ]:
d1